@model IEnumerable<hmsclient.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.BookingId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BookingId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.BookingId  })
            </td>
        </tr>
}
    </tbody>
</table>
